// Place all the styles related to the Books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.book-container {
	border: 1px solid #E4E4E4;
	text-align: center;
	color: #333;
}

.book-container img {
	width: 150px;
	height: 250px;
}

.book-container:hover {
	background: #e0f2f1;
}

.book-show p {
	font-weight: 300;
	margin-top: 100px;
	max-height: 400px;
	overflow: auto;
}

.book-show a:hover {
	background-color: #01579b;
	color: #fff;
}